.blogn {
    width: 80%;
    margin: auto;
    margin: 7%;

    &__banner {
        & img {
            width: 100%;
        }

        &__text {
            position: absolute;
            top: 0;
            padding: 20px 20px;
            font-size: 5rem;
            color: rgba(0, 0, 0, 0.616);
        }
    }


}
