.productos {
    max-width: 70%;
    margin: 7% auto;
    overflow: hidden;
    
    & h1 {
      text-align: center;
      font-size: 5.5rem;
      margin-bottom: 3rem;
    }
    & p {
      font-size: 2rem;
      text-align: justify;
      margin-bottom: 10rem;
   }
}

.gallery {
  display: grid;
  grid-gap: 10px;
  transition: 1s;

  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
  }
  & img {
    object-fit: cover;
    width: 100%;
    border-radius: 7px;
  }
}

@media screen and (min-width: 768px) {
  .productos {
      width: 90%;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
  
@media screen and (min-width: 1024px) {
  .productos {
      width: 90%;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);

    &__img:nth-of-type(3) {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }

    &__img:nth-of-type(7) {
      grid-column: 1 / 3;
      grid-row: 4 / 6;
    }

    &__img:nth-of-type(14) {
    grid-column: 2 / 4;
    grid-row: 7 / 9;
    }

    &__img:nth-of-type(18) {
      grid-column: 1 / 3;
      grid-row: 10 / 12;
    }
  }
} 